.pageWrapper {
  min-height: 100vh;
}

.content {
  height: auto;
}

.carousel {
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
}

.contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projectContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow: hidden;
}

.projectInformation {
  margin-bottom: 3rem;
}

.projectInformation_services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 1rem;
}

.projectInformation_services_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projectInformation_title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.projectInformation_description p {
  line-height: 1.5;
  max-width: 520px;
  font-size: 1.2rem;
}
.projectInformation_links {
  display: flex;
  gap: 14px;
  font-weight: 600;
  margin-top: 1rem;
}

.projectInformation_links a {
  text-decoration: none;
}

.projectInformation_links a,
.projectInformation_links a:visited {
  color: rgb(80, 80, 172);
}

.bottomNavigation {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-block: 2rem;
}

.bottomNavigationBtn {
  font-size: 2.15rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  /* margin-bottom: 2.5rem; */
}

.bottomNavigationBtn > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.bottomNavigationBtn :hover {
  opacity: 50%;
}

@media (min-width: 764px) {
  .projectInformation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 20px;
  }

  .projectInformation_row {
    grid-template-columns: 1fr 1fr;
  }

  .projectInformation_title {
    grid-area: 2/2;
  }
  .pageWrapper {
    height: calc(100vh - var(--nav-height));
    overflow: hidden;
    margin-top: var(--nav-height);
  }

  .projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content {
    height: 100%;
    max-height: 75vh;
    overflow-y: scroll;
  }

  .bottomNavigation {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width: 1460px) {
  .carousel__item {
    height: 850px;
  }
  .bottomNavigationBtn > a {
  }
}
