.projectInformation {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.projectInformation_row {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}

.projectInformation_leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.projectInformation_services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectInformation_title {
  padding-bottom: 1rem;
}

.projectInformation_description p {
  line-height: 1.5;
}
.projectInformation_links {
  display: flex;
  gap: 14px;
  font-weight: 600;
  margin-top: 1rem;
}

.projectInformation_links a {
  text-decoration: none;
}

.projectInformation_links a,
.projectInformation_links a:visited {
  color: rgb(80, 80, 172);
}

.bottomNavigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Gallery */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.content {
  margin-bottom: 5rem;
}

.bottomNavigation {
  /* border: 1px solid black; */
  margin-block: 1.25rem;
}

.bottomNavigationBtn {
  font-size: 2.15rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  padding: 0;
}

.bottomNavigationBtn > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 0;
}

.bottomNavigationBtn :hover {
  opacity: 50%;
}

@media (min-width: 764px) {
  .projectInformation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 20px;
  }

  .projectInformation_row {
    grid-template-columns: 1fr 1fr;
  }

  .projectInformation_title {
    grid-area: 2/2;
  }
}

@media (min-width: 1460px) {
  .carousel__item {
    height: 850px;
  }
  .bottomNavigationBtn > a {
    /* margin-bottom: 1rem; */
  }
}
