.work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  margin-bottom: 2rem;
}

.work_item {
}

.work_item a,
.work_item img {
  width: 100%;
  height: auto;
}

@media (min-width: 764px) {
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
