.box__thumbnail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 60vh;
  will-change: transform;
}
.box__thumbnail_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.box {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.box__link {
  text-decoration: none;
  color: black;
}

.box__title {
  margin-top: 0.25rem;
  overflow: hidden;
  display: block;
  position: relative;
}
.box__title:first-child {
  font-weight: 300;
}

.box__bottomText {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  color: black;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .box__link {
    display: block;
  }

  .box__bottomText {
    width: 100%;
    color: white;
    position: absolute;
    inset-block: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
  .box__thumbnail {
    min-height: 300px;
    /* max-height: 600px; */
  }

  .box:hover .box__bottomText {
    background: rgba(0, 0, 0, 0.8);
  }
}
