.box__thumbnail {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.box__thumbnail_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: auto 3001 / 1876;
}

.box {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.box__link {
  text-decoration: none;
  color: black;
}

.box__title {
  margin-top: 0.25rem;
  overflow: hidden;
  display: block;
  position: relative;
}

.box__bottomText {
  width: 100%;
  color: white;
  position: absolute;
  inset-block: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.box:hover .box__bottomText {
  background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .box__thumbnail {
    min-height: 300px;
    /* max-height: 600px; */
  }
}
