.box__thumbnail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(100%); /* 0-100% */
}

.box:hover .box__thumbnail {
  filter: grayscale(0%);
}

.box__thumbnail_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: auto 3001 / 1876;
}

.box {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.box__link {
  text-decoration: none;
  color: black;
}

.box__title {
  margin-top: 0.25rem;
  overflow: hidden;
  display: block;
  position: relative;
}

.box__bottomText {
  width: 100%;
  color: white;
  position: absolute;
  inset-block: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.box:hover .box__bottomText {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  /* background: rgba(0, 0, 0, 0.2); */
}
.box__bottomText__smallScreens {
  display: none;
}
@media (max-width: 768px) {
  .box__bottomText {
    display: none;
  }
  .box__bottomText__smallScreens {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .box__bottomText__smallScreens span {
    display: flex;
    font-weight: 500;
    line-height: 120%;
    font-size: 1rem;
  }
  .box__bottomText__smallScreens span:last-child {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
@media (min-width: 768px) {
  .box__thumbnail {
    min-height: 300px;
    /* max-height: 600px; */
  }
}
