.row {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}

.fullRow {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}

.row_image {
  height: 100%;
  width: 100%;
}

.row_image_container {
  height: 50vw;
  object-fit: cover;
  cursor: pointer;
}

@media (min-width: 764px) {
  .row_image_container {
  }
  .row {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    width: 100%;
    margin-bottom: 20px;
  }

  .fullRow {
    margin-bottom: 20px;
  }

  .row [grid-col='1'] {
    grid-area: 'a';
  }

  .row [grid-col='1'] {
    grid-area: 'b';
  }
}
