/* TODO make navigation stick at the top */

.nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  padding-block: 0.5rem;
  margin-bottom: 15px;
}

.nav__item {
  font-size: 2.15rem;
  font-weight: 400;
  align-self: center;
  letter-spacing: -0.25px;
  display: flex;
  gap: 10px;
}

.nav__item > a,
.nav__item_socials > a {
  text-decoration: none;
  color: inherit;
}

.nav__item_socials {
  display: flex;
  position: absolute;
  inset-inline-end: 0;
  gap: 10px;
  font-size: 1.5rem;
}
.nav__item > a:hover,
.nav__item > a:focus,
.nav__item_socials > a:hover,
.nav__item_socials > a:focus {
  opacity: 50%;
}

.nav__item:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .nav__item,
  .nav__item > h1 {
    font-size: 2.875rem;
  }

  .nav {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .nav {
    grid-template-rows: none;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .nav__item {
    align-self: center;
    font-size: 2.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .nav__item_socials {
    gap: 15px;
    font-size: 2rem;
  }
}
