.row {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}

.fullRow {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}

.fullRow:hover {
  cursor: pointer;
}

.row_image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.row_image_container {
  aspect-ratio: auto 3000 / 2200;
  overflow: hidden;
}

@media (min-width: 764px) {
  .row_image_container {
    aspect-ratio: auto 3000 / 1876;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    width: 100%;
    margin-bottom: 20px;
  }
  /* .row img {
    max-height: 600px;
  } */

  .fullRow {
    margin-bottom: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}
