.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.link {
  color: #0070f3;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
